<div class="gridListdemoBasicUsage">
  <div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 300px;"  ng-repeat="eventdt in eventdata">
      <md-card-content>
        <h2>{{eventdt.username}}</h2>
        <p>{{eventdt.neweventname}}</p>
        <p>{{eventdt.newtypeofevent}}</p>
        <p>{{eventdt.neweventhost}}</p>
        <p>{{eventdt.neweventstartdateandtime}}</p>
        <p>{{eventdt.neweventenddateandtime}}</p>
        <p>{{eventdt.neweventguestlist}}</p>
        <p>{{eventdt.neweventlocation}}</p>
        <p>{{eventdt.neweventmessage}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>