  <div layout="row" layout-align="center center" ng-cloak>
      <form name="eventCreation" class="event">
        <h2>Create Event</h2>
        <br />
        <md-input-container class="md-icon-float md-block">
          <label>Evnet Name</label>
          <input autofocus="true" ng-model="neweventname" type="text" name="eventName">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Type of Event</label>
          <input ng-model="newtypeofevent" type="text" name="typeOfEvent">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Event host</label>
          <input ng-model="neweventhost" type="text" name="eventHost">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Event start date and time</label>
          <input ng-model="neweventstartdateandtime" type="text" name="eventStartDateAndTime">
          <div class="hint">MM/DD/YYYY HH:MI</div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Event end date and time</label>
          <input ng-model="neweventenddateandtime" type="text" name="eventEndDateAndTime">
          <div class="hint">MM/DD/YYYY HH:MI</div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Guest list</label>
          <input ng-model="neweventguestlist" type="text" name="eventGuestList">
          <div class="hint">Please input each guest name w/ comma</div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Location</label>
          <input ng-model="neweventlocation" type="text" name="eventLocation">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Optional message</label>
          <input ng-model="neweventmessage" type="text" name="eventMessage">
        </md-input-container>
        <br />
        <md-button class="md-raised md-primary" ng-click="createEvent()">Create</md-button>
      </form> 
  </div>
