<div class="gridListdemoBasicUsage">
  <div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 300px;"  ng-repeat="eventdt in eventdata">
      <md-card-content>
        <md-input-container class="md-icon-float md-block">
          <label for="eventName">Event Name</label>
          <input ng-model="eventdt.neweventname" type="text" id="eventName" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventHost">Event Host</label>
          <input ng-model="eventdt.neweventhost" type="text" id="eventHost" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="typeOfEvent">Event Type</label>
          <input ng-model="eventdt.newtypeofevent" type="text" id="typeOfEvent" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventStartDateAndTime">Event Start Date and Time</label>
          <input ng-model="eventdt.neweventstartdateandtime" type="text" id="eventStartDateAndTime" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventEndDateAndTime">Event End Date and Time</label>
          <input ng-model="eventdt.neweventenddateandtime" type="text" id="eventEndDateAndTime" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventGuestList">Event Guest List</label>
          <input ng-model="eventdt.neweventguestlist" type="text" id="eventGuestList" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventLocation">Event Location</label>
          <input ng-model="eventdt.neweventlocation" type="text" id="eventLocation" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="eventMessage">Event Message</label>
          <input ng-model="eventdt.neweventmessage" type="text" id="eventMessage" ng-readonly="true">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label for="uesrName">Event Registerer</label>
          <input ng-model="eventdt.username" type="text" id="uesrName" ng-readonly="true">
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
</div>